* {
  box-sizing: border-box;
}

/* Elements */
h1 {
  font-size: 50px;
  display: inline-block;
  font-style: italic;
  color: white;
}

h2 {
  font-size: 30px;
  color: white;
}

h3 {
  margin-top: 15px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  color: white;
}

h4 {
  margin-top: 15px;
  text-align: center;
  color: white;
}

ul {
  padding-left: 0;
}

ul li {
  text-align: center;
  list-style-position: inside;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background: black;
}

header {
  border-bottom: solid; 
}

.header {
  background-image: url('./assets/images/green-background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
}

/* Navbar */
header nav {
  float: right;
 
}

header nav ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 35px;;
}

/* Profile Picture */
#profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 175px;
  border-radius: 75px;
 
}

/* Project Sections */
.project {
  float: left;
  width: 50%;
  padding: 10px;
  height: 175px;  
  width: 325px;
  margin-top: 20px;
}

.anotherContainer:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

/* .project-title:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  color: blue;
} */



.projects-list{
  display: flex;
  flex-wrap:wrap;
  gap:5%;
}


.project-title {
  /* float: left; */
  color: black;
  font-size: 25px;
  margin-top: 20px;
  
}

.parentContainer {
  width:22%;
  
}
.anotherContainer{
  position: relative;

}

.projectContainer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 900;
  right:0;
  transition:all .5s ease-in-out;
}

.projectContainer:hover {
  background-color: azure;
  opacity: 1;
  border: 5px solid rgb(136, 25, 25);
  height: 150px;
  width: 300px;
}

body {
  display: block;
}

/* #aboutContainer {
  height: 100px;
  width: 400px;
} */

/* Project images */
#horisean {
  height: 250px;
  width: 500px
}

.project-pictures {
  height: 150px;
  width: 300px; 
}

#resumeImg {
  height: 600px;
  width: 500px; 
}

#coming-soon {
  height: 150px;
  width: 300px;
}

#git-picture {
  height: 75px;
  width: 75px;
  margin-top: 2px;
  margin-top: 2px;

}
/* Footer */

#contact ul li {
  float: left;
  margin-right: 10px;
}

/*Media Query  */

@media screen and (max-width: 768px) {
  body {
      background-color: rgb(67, 200, 233);
  
  #horisean {
      height: 150px;
      width: 250px;
  }

  #project-pictures {
      height: 100px;
      width: 200px;
    }
  }
}