* {
  box-sizing: border-box;
}

/* Elements */
h1 {
  font-size: 50px;
  display: inline-block;
  font-style: italic;
}

h2 {
  font-size: 30px;
}

h3 {
  margin-top: 15px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background: rgb(100, 226, 62);
}

header {
  border-bottom: solid; 
}
/* Navbar */
header nav {
  float: right;
 
}

header nav ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 35px;;
}


/* Profile Picture */
#profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 200px;
  border-radius: 75px;
 
}

/* Project Sections */
.project {
height: 300px;  
border: solid;
padding: 10px;
}

/* Project images */
#horisean {
  height: 250px;
  width: 500px
}

#project-pictures {
  height: 150px;
  width: 300px; 
}


#coming-soon {
  height: 150px;
  width: 300px;
}

.float-left {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.float-right {
  float: right;
  margin-left: 20px;
}

/* Footer */

#contact ul li {
  float: left;
  margin-right: 10px;
}

/*Media Query  */

@media screen and (max-width: 768px) {
  body {
      background-color: rgb(67, 200, 233);
  
  #horisean {
      height: 150px;
      width: 250px;
  }

  #project-pictures {
      height: 100px;
      width: 200px;
  }
}